#slider{
    background-color: red;
    width: 100%;
    height: 250px;
    line-height: 220px;
    color: white;
    text-shadow: 0px 0px 5px #444;
}
#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    /*padding-top: 155px;*/
    text-align: center;
}

#slider.slider-small{

    height: 150px;
    line-height: 160px;
}
#slider.slider-small h1{
    padding-bottom : 50%;
    padding: 0px;
    padding-top: 4%;


    text-align: center;
}

.btn-outline-primary{
    display: block;
    width: 250px;
    margin-bottom: 2em;
    z-index: -1;
    

}
.container{
    margin: 2em 5% 0 5%;
    
}
.card{
    margin: 0 0 0 4em;
    width: 24.5em !important;
}
.form-group{
    margin-bottom: 1em;
}

.button-containerñ{
    display: block;
    margin: 0 2em 2em 2em;
    width: 100%;
    z-index: 1;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 67px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-container{
    text-align: center;
  }