<body>
  <div id="slider" class="slider-small">
    <h1>Inicio Sesion</h1>
</div>
  
  <div class="login" >
    <!--{user.mail}}-->
      <form class="custom-form" method="post"  >
        <h1>Login</h1>
        <input class="form-control"
          type="email"
          name="email" 
          placeholder="Ingrese su email"
          required="required"
        />
        <input
          type="password"
          name="password" 
          placeholder="Ingrese su contraseña"
          required="required"
        />
      <button (click)="redirect('productos')">Iniciar sesión</button>
      
      <br>
      <button (click)="redirect('register')">Registrarse</button> 
      </form>

    </div>
</body>
