<div id="slider" class="slider-small">
  <h1>Confeccionar</h1>
</div>
<div class="container">
    <div class="row">
  
  
      <div class="card col-4" *ngFor="let medidas of medidasHombre" style="width: 18rem;">
        <img class="card-img-top" src="{{url + 'get-imageHombre/' + medidas.image}}" alt="">
        <div class="card-body">
          <h5 class="card-title">medidas</h5>
          <p class="card-text">Cuello = {{medidas.cuello}}</p>
          <p class="card-text">Pecho = {{medidas.pecho}}</p>
          <p class="card-text">Manga = {{medidas.manga}}</p>
          <p class="card-text">Cintura = {{medidas.cintura}}</p>
          <p class="card-text">Cadera = {{medidas.cadera}}</p>
          <p class="card-text">pantorrilla = {{medidas.pantorrilla}}</p>
          <p class="card-text">pierna = {{medidas.pierna}}</p>
          <p class="card-text">entrepierna = {{medidas.entrepierna}}</p>
  
          
        </div>
      </div>
    </div>
    
  </div>