<div id="slider" class="slider-small">
  <h1>Confeccionar</h1>
</div>
<div class="container">
    <div class="row">
  
  
      <div class="card col-4" *ngFor="let medidasm of medidasMujer" style="width: 18rem;">
        <img class="card-img-top" src="{{url + 'get-imageMujer/' + medidasm.image}}" alt="">
        <div class="card-body">
          <h5 class="card-title">medidas</h5>
          <p class="card-text">Busto = {{medidasm.busto}}</p>
          <p class="card-text">Bajo Busto = {{medidasm.bajoBusto}}</p>
          <p class="card-text">Manga = {{medidasm.manga}}</p>
          <p class="card-text">Hombro = {{medidasm.hombro}}</p>
          <p class="card-text">Cintura = {{medidasm.cintura}}</p>
          <p class="card-text">Cadera = {{medidasm.cadera}}</p>
          <p class="card-text">Entrepierna = {{medidasm.entrepierna}}</p>
          <p class="card-text">Pierna = {{medidasm.pierna}}</p>
  
          
        </div>
      </div>
    </div>
    
  </div>