<body>
    <div id="slider" class="slider-small">
        <h1>Preguntas</h1>
    </div>

<div class="blanco">
        <p class="Gris-Consulta"> Nueva consulta</p>
        <a (click)="redirect('crearPregunta')"><img src=assets\img\icono-plus.png class= imagen alt="" height="20px" width="20px"></a>
        <!--<label for="boton-horario"><a click)="redirect('crearPregunta')"> <img src=assets\images\icono-plus.png class= imagen alt="" height="20px" width="20px"></a></label>-->
        <br>
                
            <br>
        <p class="Gris">Aqui va un tema del foro </p>
        <br>
        <p class="Gris">Aqui va un tema del foro </p>
</div>

</body>