

  
     
       
    <div class="row home-container">
        <div class="col-md-6 col-sm-12">
            <img src="assets/img/modist1.jpg" alt="producto" class="imagen"/>
        </div>
        <div class="col-md-6 col-sm-12">
            <p >Servicio de modisteria Local</p>
            <br>
            <p>Nos encontramos en la localidad de buin, Maipo</p>
            <br>
            <p>Nuestra ubicacion es ****************</p>
            <br>
            <p>Nuestro numero de contacto es +56992594121</p>
            <br>
            <p>Nuestro correo de contacto es tomas.carreno.v@mail.pucv.cl</p>
        </div>
    </div>
  